---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostList from '../components/PostList.astro';
import TagButtons from '../components/TagButtons.astro';
import Heading from 'fulldev-ui/components/Heading.astro'

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>

  <Heading as="h1" text={pageTitle} />
  <TagButtons />
      <div class="text-center mb-12">
      <h2 class="text-3xl font-extrabold text-gray-900">All Posts</h2>
    </div>
<PostList />
</BaseLayout>