---
import BaseLayout from '../layouts/BaseLayout.astro';
import SectionLayout from '../layouts/SectionLayout.astro'

const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
    <SectionLayout>
        <h1 class="text-3xl font-extrabold">{pageTitle}</h1>
    </SectionLayout>
</BaseLayout>