---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostLink from '../components/BlogPostLink.astro';
import Hero1 from "fulldev-ui/blocks/Hero1.astro";
import Features1 from 'fulldev-ui/blocks/Features1.astro';
import { getCollection } from "astro:content";

const pageTitle = "Home";

const allPosts = await getCollection("blog");
const highlightedPosts = allPosts.filter((post: any) => post.data.tags.includes("highlight"))
---
    
<BaseLayout pageTitle={pageTitle}>
  <section>
    <Hero1
      heading="Hashtagsheep"
      paragraph="Welcome to my blog about my woodworking and other crafting endeavours"
      image={{ src: '/images/hero.jpg' }}
    />
  </section>
  <section>
    <Features1
      heading="Highlighted posts"
      cards={[
        {
          heading: 'Lorem ipsum',
          paragraph: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
          button: { text: 'Lorem ipsum', href: '' },
        },
        {
          heading: 'Lorem ipsum',
          paragraph: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
          button: { text: 'Lorem ipsum', href: '' },
        },
        {
          heading: 'Lorem ipsum',
          paragraph: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
          button: { text: 'Lorem ipsum', href: '' },
        },
      ]}
    />
  <ul>
    {highlightedPosts.map((post: any) => <BlogPostLink url={`/posts/${post.id}/`} title={post.data.title} />)}
  </ul>
  </section>

</BaseLayout>

