---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome website subtitle</h2>
  <p>Content goes here</p>
</BaseLayout>