---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero1 from 'fulldev-ui/blocks/Hero1.astro';
import FilteredPostList from '../components/FilteredPostList.astro';
import SectionLayout from '../layouts/SectionLayout.astro';

const allPosts = await getCollection('blog');
const highlightedPosts = allPosts.filter((post: any) => post.data.tags.includes('featured'));

const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
	<Hero1
		heading="Sawdust. Molten plastic. Questionable decisions."
		paragraph="A blog about woodworking, 3D printing, and the joy of making stuff, plus the occasional sheep pun."
		image={{ src: '/images/hero.webp' }}
	/>
	<SectionLayout>
		<div class="text-center mb-12">
			<h2 class="text-2xl font-extrabold">Featured Posts</h2>
		</div>
		<FilteredPostList posts={highlightedPosts} />
	</SectionLayout>
</BaseLayout>
