---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero1 from "fulldev-ui/blocks/Hero1.astro";
import HighlightedPosts from '../components/HighlightedPosts.astro';

const pageTitle = "Home";
---
    
<BaseLayout pageTitle={pageTitle}>
  <section>
    <Hero1
      heading="Hashtagsheep"
      paragraph="Welcome to my blog about my woodworking and other crafting endeavours"
      image={{ src: '/images/hero.jpg' }}
    />
  </section>
  <HighlightedPosts tag="highlight"/>

</BaseLayout>

