---
import Section from 'fulldev-ui/structures/Section.astro'
import Group from 'fulldev-ui/structures/Group.astro'
import Button from 'fulldev-ui/components/Button.astro'

import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
---
<Section class:list="gap-12 pt-12">
<Group>
    <Button class="tag" href={`/blog`}>All</Button>
    {tags.map((tag) => (
        <Button class="tag" href={`/tags/${tag}`}>{tag}</Button>
    ))}
    </Group>
</Section>  