---
import Section from 'fulldev-ui/structures/Section.astro'
import Group from 'fulldev-ui/structures/Group.astro'
import Button from 'fulldev-ui/components/Button.astro'

import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const categories = [...new Set(allPosts.map((post: any) => post.data.categories).flat())];
---
<Section class:list="gap-12 pt-12 pb-12">
<Group>
    <Button class="category" href={`/blog`}>All</Button>
    {categories.map((category) => (
        <Button class="category" href={`/categories/${category}`}>{category}</Button>
    ))}
    </Group>
</Section>  