---
import Header from '../components/MyHeader.astro';
import Footer from '../components/MyFooter.astro';
import '../styles/global.css';

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="text/html" http-equiv="Content-Type" />
		<link rel="icon" href="/images/favicon/favicon.ico" sizes="any" />
		<link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png" />
		<link rel="manifest" href="/images/favicon/site.webmanifest" />
		<link rel="alternate" type="application/rss+xml" title="hashtagsheep Blog" href={new URL('rss.xml', Astro.site)} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="A blog about woodworking, 3D printing, and the joy of making stuff" />
		<title>{pageTitle}</title>
		<script defer data-domain="hashtagsheep.com" data-api="https://relay-svc.hashtagsheep.com/api/event" src="https://relay-svc.hashtagsheep.com/js/script.js"
		></script>
		<script>
			window.plausible =
				window.plausible ||
				function () {
					(window.plausible.q = window.plausible.q || []).push(arguments);
				};
		</script>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
