---
import Header from '../components/MyHeader.astro';
import Footer from '../components/MyFooter.astro';
import '../styles/global.css';

const {pageTitle} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="text/html" http-equiv="Content-Type"/>
		<link rel="icon" href="/images/favicon/favicon.ico" sizes="any" />
		<link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png" />
		<link rel="manifest" href="/images/favicon/site.webmanifest" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
        <slot />
		<Footer />
	</body>
</html>
